<% provide(:title, "About") %>
<div class="about-kokolog">
<h1>ココログについて</h1>
<p><span class="big">自分の心の状態を知ること</span></p>
<p>僕は起業家です。</p>
<p>起業家は、そうでない人に比べて、気分障害・不安障害になる確率が遥かに高いと言われています。僕の周りにも、情緒が不安定になっている友人の起業家がいました。せっかくプロダクトを作るのであれば、自分や周りの人々に役立つものを作りたい、これがココログの出発点です。</p>


<p>自分の心の状態を博することは、物事を成功する上でも、気分障害を回避する上でも非常に重要であると言われています。</p>
<ul>
<li>今日は、どんな気分なのか。</li>
<li>自分はどんな時に落ち込みやすいのか。</li>
<li>反対に、どんな時に元気になるのか。</li>
</ul>
<p>ココログでは、毎日、自分の心理状態を数値化し、一言のメモを追加することができます。これを継続することで、自分の心の状態を知ることが目的です。</p>

<p>また、他のユーザーの心理状態を知ることもできます。人に自分の苦しい気持ちを吐き出したり、自分以外の人も同じように悩んでいることを知ることも、心を穏やかに保つうえでは非常に重要です。</p>

<p>ココログを通じて、一人でも多くの人の気持ちが平穏になることを心から願っています。</p>
</div>