<h1>パスワードリセット</h1>

<p>パスワードリセットをご希望の方はリンクをクリックしましょう。</p>

<%= link_to "Reset password", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>

<p>このリンクは二時間で無効になるのでお気を付けください。</p>

<p>
もしもパスワード変更を希望していない場合はアクション不要です。
</p>