<footer class="footer">
  <small>
    ココログ Copyright 2019 Tomoki Hosotani All rights reserved.
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
    </ul>
  </nav>
</footer>